<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin/fragmentsAdmin :: admin_head_pageList}"/>
<body>
<style>
  .update {
    background-color: #1c98ea;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    border: 1px solid #000;
  }
  .form-delete {
    width: 50%;
  }
  .delete:hover {
    background-color: #8c0505;
  }
  .delete {
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: 1px solid #000;
    border-left: none;
  }

  .update:hover {
    background-color: #0e4870;
  }
</style>

<!-- Top container -->
<header th:replace="~{admin/fragmentsAdmin :: admin_header}"></header>

<!-- Sidebar/menu -->
<div th:replace="~{admin/fragmentsAdmin :: admin_menu}"></div>

<!-- Overlay effect when opening sidebar on small screens -->
<div th:replace="~{admin/fragmentsAdmin :: admin_overlay}"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;background-color: #f1f1f1">

  <h1 style="font-weight: bold; font-size: 25px; padding: 25px 15px">DANH SÁCH TÀI KHOẢN</h1>

<!--  <form style="display: inline-block" th:method="GET" th:action="@{/admin/flight/search}">-->
<!--    <input style="min-width: 250px" type="text" placeholder="search by arriving at or departing form" name="search">-->
<!--    <input type="submit" value="submit">-->
<!--  </form>-->

  <table class="table">
    <thead>
    <tr>
      <th th:replace="~{admin/fragmentsAdmin :: column_link('userID', 'ID', 'userList')}"></th>
      <th th:replace="~{admin/fragmentsAdmin :: column_link('username', 'Tên tài khoản', 'userList')}"></th>
      <th th:replace="~{admin/fragmentsAdmin :: column_link('role', 'Vai trò', 'userList')}"></th>

      <th style="width: 170px;">Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
      <tr>
        <td th:utext="${user.userID}">..</td>
        <td th:utext="${user.getUsername()}">..</td>
        <th:block class="" th:if="${user.getRole() == 0}">
            <td th:utext="'KHÁCH HÀNG'">..</td>
        </th:block>
        <th:block th:if="${user.getRole() == 1}">
          <td class="w3-text-yellow" th:utext="'NHÂN VIÊN'">..</td>
        </th:block>
        <th:block th:if="${user.getRole() == 2}">
          <td class="w3-text-red" th:utext="'QUẢN LÝ'">..</td>
        </th:block>
        <td style="display: flex" th:if="${session.ROLE_ADMIN}">
            <button class="btn btn-primary">
              <a style="text-decoration: none; color: white;" th:href="@{/admin/updateUser/{id}(id=${user.getUserID()})}">Sửa</a>
            </button>

            <form class="form-delete" method="POST" th:action="@{/admin/deleteUser/{id}(id=${user.getUserID()})}">
              <button  class="btn btn-danger" type="submit" onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">Xóa</button>
            </form>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <div th:replace="~{admin/fragmentsAdmin :: pagination('userList', 'users')}"></div>
  <div th:if="${session.ROLE_ADMIN}">
    <a class="btn btn-primary" th:href="@{/admin/addUser}">Thêm mới tài khoản</a>
  </div>
</div>
</body>
</html>