<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{client/fragments::html_head}"/>
<body class="w3-light-grey">
<!-- Navigation Bar -->
<div th:replace="~{client/fragments:: navigationBar}"/>

<!-- Page Container -->
<div  class="w3-content w3-margin-top" style="max-width:1400px;" th:if="${session.customer}">
    <div th:if="${error}">
        <script>
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: '[[${error}]]',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    </div>
    <div th:if="${success}">
        <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '[[${success}]]',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    </div>

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/w3images/avata1.jpg" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2 th:text="${session.customer.fullname}"></h2>
                    </div>
                </div>
                <div class="w3-container">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a th:href="@{'/account/information/'+${session.customer.customerID}}">Thông tin tài khoản</a></li>
                        <li><a th:href="@{/account/changeForm}">Mật khẩu</a></li>
                        <li><a th:href="@{/account/logout}">Đăng xuất</a></li>
                    </ul>
                    <hr>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
            <div class="w3-container w3-card w3-white w3-margin-bottom" th:unless="${confirm}">
                <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-text-teal"></i>MẬT KHẨU</h3>
                <form id="form_change" name="form_change" th:action="@{/account/changePassword}" method="post">
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Tên tài khoản *</b></h5>
                        <input class="w3-input" type="text" name="username" th:value="${session.customer.getUser().getUsername()}">
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Mật khẩu mới *</b></h5>
                        <input id="password" class="w3-input" type="password" name="password">
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Nhập lại mật khẩu mới *</b></h5>
                        <input id="refill_password" class="w3-input" type="password" name="refill_password">
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Email *</b></h5>
                        <input class="w3-input" type="email" name="email" th:value="${session.customer.getEmail()}">
                    </div>
                    <p></p>
                    <div class="w3-container w3-pad">
                        <input class="w3-button w3-red w3-round w3-right" type="submit" value="Lưu">
                    </div>
                    <hr>
                </form>
                <script>
                    $(document).ready(function (){
                        $.validator.addMethod("passwordRule",function (value,element,args) {
                            return /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[A-Za-z0-9])(?=.{8,})/.test(value);
                        },'Mật khẩu phải có ít nhất 8 kí tự, có kí tự in hoa, in thường và có kí tự chữ số!');
                        $.validator.addMethod("emailRule",function (value,element,args) {
                            return /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/.test(value);
                        },'Email có định dạng không hợp lệ!');
                        $("#form_change").validate({
                            rules:{
                                username:{
                                    minlength:5
                                },
                                refill_password:{
                                    equalTo:'#password'
                                },
                                password:{
                                    minlength: 8,
                                    passwordRule:true
                                },
                                email:{
                                    emailRule:true
                                }
                            },
                            messages:{
                                username:{
                                    required:"Không được để trống tên tài khoản!",
                                    minlength:"Nhập ít nhất 5 kí tự!"
                                },
                                password:{
                                    required:"Không được để trống mật khẩu!",
                                },
                                refill_password:{
                                    required:"Vui lòng nhập lại mật khẩu!",
                                    equalTo: "Mật khẩu và mật khẩu được nhập lại không giống nhau!"
                                },
                                email:{
                                    required:"Không được để trống email!"
                                }
                            }
                        });
                    });
                </script>
            </div>
            <div class="w3-container w3-card w3-white w3-margin-bottom w3-pale-red" th:if="${confirm}">
                <form id="formConfirm" th:action="@{/account/confirmChange}" method="post">
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b><span th:text="${confirm}"></span> *</b></h5>
                        <input id="confirmCode" class="w3-input" type="password" name="confirmCode">
                    </div>
                    <p></p>
                    <div class="w3-container w3-pad">
                        <input class="w3-button w3-red w3-round w3-right" type="submit" value="Xác nhận">
                    </div>
                    <hr>
                </form>
            </div>
            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<footer th:replace="~{client/fragments::footer}" />
</body>
</html>