<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
<!--    <link rel="stylesheet" th:href="@{../static/library/w3.css}">-->
<!--    <link rel="stylesheet" th:href="@{../static/library/bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="/w3images/Client.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/w3images/logoIcon.jpg">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js}"></script>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
        .myLink {display: none}
        a{
            color: grey;
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        .bg-white{
            background-color: white;
        }
        .w3-xlarge {
            /* font-size: 24px */
            font-size: 20px!important;
        }
        .w3-dropdown-content{
            top: 46px;
            right: 0px;
            font-size: 20px;
        }
        .w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
            background-color: white;
            color: #000;
        }
        .w3-bar .w3-button {
            text-decoration: none;
        }
        .w3-text-teal{
            color: orangered!important;
        }
        .error{
            color:red;
            font-size: 14px;
            font-weight: 100;
            border-color: red;
        }
        #navigationBar{

        }
    </style>
    <title>[[${pageTitle}]] - GOGO</title>
</head>
<body>
<!-- Navigation Bar -->
<div th:fragment="navigationBar" class="w3-bar w3-white w3-border-bottom w3-xlarge" id="navigationBar">
    <a th:href="@{/}" class="w3-bar-item w3-button w3-text-white w3-red w3-hover-red"><b><i class="fa fa-solid fa-location-dot w3-margin-right"></i>GOGO</b></a>
    <div th:unless="${session.customer}">
        <a th:href="@{/account}" class="w3-bar-item w3-button w3-text-red w3-hover-red w3-right">Đăng nhập</a>
        <a th:href="@{/account/signup}" class="w3-bar-item w3-button w3-text-red w3-hover-red w3-right">Đăng kí</a>
    </div>
    <div th:if="${session.customer}">
        <div class="w3-bar-item w3-button w3-text-red w3-hover-red w3-right w3-dropdown-hover">
            <i class="fa fa-user"></i>
            <div class="w3-dropdown-content w3-bar-block w3-border w3-white  w3-text-red">
                <a class="w3-bar-item w3-button w3-hover-red bg-white" th:href="@{'/account/information/'+${session.customer.customerID}}">
                    <p class="w3-serif" th:text="${session.customer.user.getUsername()}"></p>
                </a>
                <a class="w3-bar-item w3-button w3-serif w3-hover-red" th:href="@{/account/logout}">Đăng xuất</a>
            </div>
        </div>
    </div>
    <div th:if="${session.flightSelected}">
        <a th:href="@{/flights}" class="w3-bar-item w3-button w3-text-red w3-hover-red w3-right">Thay đổi lựa chọn</a>
    </div>
    <a th:href="@{/flights/searchOrder}" class="w3-bar-item w3-button w3-text-red w3-hover-red w3-right">Hủy chuyến bay</a>
</div>
<!-- Header -->
<header th:fragment="header" class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    <script>
        function showLoading(){

        }
        function hideDateReturn(val){
            if(val == 1)
                document.getElementById('dateReturn').style.visibility="visible";
            else if(val == 2)
                document.getElementById('dateReturn').style.visibility="hidden";
        }
    </script>
    <img class="w3-image" th:src="@{/w3images/london2.jpg}" alt="London" width="1500" height="700">
    <div class="w3-display-middle" style="width:65%">
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button tablink " onclick="openLink(event, 'Flight');"><i class="fa fa-plane w3-margin-right"></i>Chuyến bay</button>
        </div>
        <!-- Tabs -->
        <form th:action="@{/flights/search}" method="post">
            <div id="Flight" class="w3-container w3-white w3-padding-16 ">
                <div class="w3-row-padding" style="margin:0 -16px;">
                    <div class="w3-half">
                        <label>Từ</label>
                        <select id="txtFrom" class="w3-border w3-input btn" name="txtFrom" >
                            <option value="" disabled selected><p class="w3-opacity">Khởi hành từ ...</p></option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="Phú Quốc">Phú Quốc</option>
                            <option value="Đà Lạt">Đà Lạt</option>
                            <option value="Điện Biên">Điện Biên</option>
                        </select>
                    </div>
                    <div class="w3-half dropdown">
                        <label>Đến</label>
                        <select id="txtTo" class="w3-border w3-input btn" name="txtTo" >
                            <option value="" disabled selected><p class="w3-opacity">Điểm đến ...</p></option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="Phú Quốc">Phú Quốc</option>
                            <option value="Đà Lạt">Đà Lạt</option>
                            <option value="Điện Biên">Điện Biên</option>
                        </select>
                    </div>
                    <div class="w3-half">
                        <label>Ngày khởi hành</label>
                        <input id="txtDate" name="txtDateMove" class="w3-input w3-border" type="date" required>
                    </div>
                    <div id="dateReturn"  class="w3-half">
                        <label>Ngày trở lại</label>
                        <input id="txtDateReturn" name="txtDateReturn" class="w3-input w3-border" type="date">
                        <script>
                            document.getElementById('dateReturn').style.visibility="hidden";
                        </script>
                    </div>
                    <div class="w3-half">
                        <label>Người lớn</label>
                        <input id="slAdults" name="txtAdults" class="w3-input w3-border" type="number" placeholder="0" required max="4" min="1" value="1">
                    </div>
                    <div class="w3-half">
                        <label>Trẻ em</label>
                        <input id="slChilds" name="txtChilds" class="w3-input w3-border" type="number" placeholder="0" max="2" min="0">
                    </div>
                    <div class="w3-half">
                        <p>
                            <label>Khứ hồi</label>
                            <input id="rdRoundTrip" onclick="hideDateReturn(1)" name="rdCategoryTicket" class="w3-border" type="radio" value="rt" >
                            <label>Một chiều</label>
                            <input id="rdOneWay" onclick="hideDateReturn(2)" name="rdCategoryTicket" class="w3-border" type="radio" value="ow" checked>
                        </p>
                    </div>
                    <div class="w3-half">
                        <label>Hạng ghế</label>
                        <select id="slSeatClass" class="w3-border w3-input" name="slSeatClass">
                            <th:block th:each="seat : ${session.seatCategories}">
                                <option th:value="${seat.getCategoryName()}"><span th:text="${seat.getCategoryName()}"></span></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <p><button type="submit" class="w3-button w3-dark-grey w3-hover-red" onclick="showLoading()">Tìm kiếm chuyến bay</button></p>
            </div>
            <script>

            </script>
        </form>
    </div>

    <div th:if="${messageLogin}">
        <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '[[${messageLogin}]]',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    </div>
</header>

<!-- Footer -->
<footer th:fragment="footer" class="w3-container w3-center w3-opacity w3-margin-bottom">
    <!-- Contact -->
    <div class="w3-container">
        <h2>Liên hệ</h2>
        <p>Hãy để chúng tôi chăm lo chuyến đi của bạn!</p>
        <i class="fa fa-map-marker" style="width:30px"></i>Số 13, Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội, Việt Nam<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +84 973 725 501<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: phong2552001@gmail.com<br>
    </div>
    <h5>Các nền tảng khác</h5>
    <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-brands fa-facebook-f w3-hover-opacity"></i>
        <i class="fa fa-brands fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-brands fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-brands fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-brands fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-brands fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>
<script>
    const Swal = require('sweetalert2');

</script>
<!-- Page loader -->
<div th:fragment="loader" class="">

</div>
</body>
</html>
