<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{client/fragments :: html_head}"/>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div th:replace="~{client/fragments:: navigationBar}"/>

<!-- Header -->
<header th:replace="~{client/fragments::header}"/>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container">
    <h3>Điểm đến tốt nhất</h3>
    <p>Hãy đi cùng chúng tôi để khám phá thiên nhiên đất nước mình.</p>
  </div>
  <div class="w3-row-padding w3-text-white w3-large w3-margin-top">
    <div class="w3-half w3-margin-bottom w3-card">
      <div class="w3-display-container">
        <img src="/w3images/CauVang.jpg" alt="Paris" style="width:100%">
        <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom w3-display-bottomleft w3-padding" th:href="'/flights/takeFlightV2/'+1+'&'+1">Hà Nội - Đà Nẵng</a>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom w3-card">
          <div class="w3-display-container">
            <img src="/w3images/hanoi.jpg" alt="Paris" style="width:100%">
            <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom w3-display-bottomleft w3-padding" th:href="'/flights/takeFlightV2/'+4+'&'+5">Hà Nội - Đà Nẵng</a>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom w3-card">
          <div class="w3-display-container">
            <img src="/w3images/dalat2.jpg" alt="Paris" style="width:100%">
            <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom w3-display-bottomleft w3-padding" th:href="'/flights/takeFlightV2/'+3+'&'+12">Hà Nội - Đà Lạt</a>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom w3-card">
          <div class="w3-display-container">
            <img src="/w3images/CauVang.jpg" alt="Paris" style="width:100%">
            <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom w3-display-bottomleft w3-padding" th:href="'/flights/takeFlightV2/'+1+'&'+1">Hà Nội - Đà Nẵng</a>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom w3-card">
          <div class="w3-display-container">
            <img src="/w3images/CauVang.jpg" alt="Paris" style="width:100%">
            <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom w3-display-bottomleft w3-padding" th:href="'/flights/takeFlightV2/'+1+'&'+1">Hà Nội - Đà Nẵng</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Explore Nature -->
  <div class="w3-container">
    <h3>Khám phá đất nước</h3>
    <p>Đi cùng chúng tôi để thấy vẻ đẹp đất nước.</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom w3-card">
      <img src="/w3images/CauVang.jpg" alt="Da Nang" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Hà Nội - Đà Nẵng</h3>
        <p class="w3-opacity">Chuyến bay một chiều từ 750,000 VND</p>
        <p>Mỗi chuyến đi là một cuộc thám hiểm để thấy những vẻ đẹp mới.</p>
        <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom" th:href="'/flights/takeFlightV2/'+1+'&'+1">Đặt vé</a>
      </div>
    </div>
    <div class="w3-half w3-margin-bottom w3-card">
      <img src="/w3images/CauVang.jpg" alt="Da Nang" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Hà Nội - Đà Nẵng</h3>
        <p class="w3-opacity">Chuyến bay một chiều từ 750,000 VND</p>
        <p>Mỗi chuyến đi là một cuộc thám hiểm để thấy những vẻ đẹp mới.</p>
        <a class="w3-button w3-dark-grey w3-hover-red w3-margin-bottom" th:href="'/flights/takeFlightV2/'+1+'&'+1">Buy Tickets</a>
      </div>
    </div>
  </div>

  <!-- Newsletter -->
  <div class="w3-container">
    <form th:action="@{/account/advertise}" method="post" class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Đăng kí thông báo nhận được ưu dãi sớm nhất !</h2>
      <p>Đăng kí thông báo.</p>
      <label>E-mail</label>
      <input name="email-ads" class="w3-input w3-border w3-text-black" type="email" required placeholder="Địa chỉ email của bạn">
      <input type="submit" class="w3-button w3-red w3-margin-top" value="Đăng kí">
    </form>
  </div>
  <div th:if="${error}">
    <script>
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: '[[${error}]]',
        showConfirmButton: false,
        timer: 1500
      })
    </script>
  </div>
  <div th:if="${success}">
    <script>
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: '[[${success}]]',
        showConfirmButton: false,
        timer: 1500
      })
    </script>
  </div>
  <!-- End page content -->
</div>
<button style="background: none;" class="w3-text-dark-grey" id="btn-scroll" onclick="ontop()"><i class='fa fa-angle-double-up'></i></button>
<script>
  function ontop(){
    document.documentElement.scrollTop = 0;
  }

</script>
<!-- Footer -->
<footer th:replace="~{client/fragments::footer}"/>
</body>
</html>
