<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{client/fragments::html_head}"/>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div th:replace="~{client/fragments::navigationBar}"/>

<!-- Page Container -->
<div th:if="${error}">
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '[[${error}]]',
            footer: ''
        })
    </script>
</div>
<div  class="w3-content w3-margin-top" style="max-width:1400px;min-height: 741px;" th:if="${session.flightSelected}">
    <div class="w3-container w3-card w3-white w3-margin-bottom">
        <p class="w3-margin-top w3-text-red">Hóa đơn có giá trị tối đa 15 phút trước khi thanh toán thành công.</p>

    </div>
    <!-- The Grid -->
    <div class="w3-row-padding">
        <!--        th:action="@{/api/payment/create-payment}"-->
        <!-- Right Column -->
        <script>
            function doPost1(){
                jsonData1 = {};
                if($("#account")){
                    jsonData1 = {
                        fullname: $("#fullname").val(),
                        email: $("#email").val(),
                        phone: $("#phone").val(),
                        address: $("#address").val(),
                        citizenIdentification: $("#citizenIdentification").val()
                    };
                }

                $.post("http://localhost:8080/api/payment/create-payment",jsonData1,function(data,status){
                    Swal.fire({
                        position: 'center',
                        showConfirmButton: false,
                        icon: status,
                        title: 'Tạo hóa đơn thành công',
                        text: "",
                        footer: "Hóa đơn sẽ bị hủy sau 15p!",
                        timer: 1500
                    });
                    window.location.replace(data);
                });
            }
            function doPost(){
                jsonData = {};
                if($("#noAccount")){
                    jsonData = {
                        fullname: $("#fullname0").val(),
                        email: $("#email0").val(),
                        phone: $("#phone0").val(),
                        address: $("#address0").val(),
                        citizenIdentification: $("#citizenIdentification0").val()
                    };
                }

                $.post("http://localhost:8080/api/payment/create-payment",jsonData,function(data,status){
                    Swal.fire({
                        position: 'center',
                        showConfirmButton: false,
                        icon: status,
                        title: 'Tạo hóa đơn thành công',
                        text: "",
                        footer: "Hóa đơn sẽ bị hủy sau 15p!",
                        timer: 1500
                    });
                    window.location.replace(data);
                });
            }
        </script>
        <div th:if="${error}">
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '[[${error}]]',
                    footer: ''
                })
            </script>
        </div>
        <!--        th:action="@{/api/payment/create-payment}" method="post"-->
        <div class="w3-twothird w3-container" th:if="${session.customer}">
            <input type="hidden" id="account" value="1">
            <h3 class="w3-text-black w3-padding-16 w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue ">Thông tin hóa đơn</h3>
            <div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-16">
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Họ và tên *</b></h5>
                    <input class="w3-input" type="text" name="fullname0" id="fullname" required minlength="1" th:value="${session.customer.fullname}">
                </div>
                <div class="w3-container">
                    <h5 class="w3-text-grey "><i class="fa fa-envelope fa-fw w3-margin-right w3-text-teal"></i>Email *</h5>
                    <input class="w3-input"  type="email" id="email" name="email" th:value="${session.customer.email}" required >
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey "><i class="fa fa-phone fa-fw w3-margin-right w3-text-teal"></i>Số điện thoại *</h5>
                    <input class="w3-input" type="text" id="phone" name="phone" required minlength="10" maxlength="10" th:value="${session.customer.phone}">
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey "><i class="fa fa-address-book fa-fw w3-margin-right w3-text-teal"></i>Địa chỉ</h5>
                    <input class="w3-input" type="text" id="address" name="address" th:value="${session.customer.address}" required>
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey ">Số căn cước công dân *</h5>
                    <input class="w3-input" type="text" id="citizenIdentification" name="citizenIdentification" th:value="${session.customer.citizenIdentification}" required>
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey ">Phương thức thanh toán</h5>
                    <input class="" type="radio" name="payment_method" value="vnpay" checked required> VNPay <img style="width: 50px;height: 50px;" src="/w3images/vnpay.png" alt="VNPay">
                </div>
            </div>
            <div class="w3-container ">
                <input id="btnPay" class="w3-card w3-button w3-red w3-round w3-right w3-margin-top" style="width: 200px;" type="button" onclick="doPost1()" value="Thanh toán">
            </div>
            <!--                </form>-->
        </div>
        <div class="w3-twothird w3-container" th:unless="${session.customer}">
            <!--                <form id="form_order" name="form_order" onsubmit="doPost()" >-->
            <h3 class="w3-text-black w3-padding-16 w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue ">Thông tin hóa đơn</h3>
            <div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-16">
                <input type="hidden" id="noAccount" value="1">
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Họ và tên *</b></h5>
                    <input class="w3-input" type="text" name="fullname0" id="fullname0" required minlength="1">
                </div>
                <div class="w3-container">
                    <h5 class="w3-text-grey "><i class="fa fa-envelope fa-fw w3-margin-right w3-text-teal"></i>Email *</h5>
                    <input class="w3-input"  type="email" id="email0" name="email0" required >
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey "><i class="fa fa-phone fa-fw w3-margin-right w3-text-teal"></i>Số điện thoại *</h5>
                    <input class="w3-input" type="text" id="phone0" name="phone0" required minlength="10" maxlength="10">
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey "><i class="fa fa-address-book fa-fw w3-margin-right w3-text-teal"></i>Địa chỉ</h5>
                    <input class="w3-input" type="text" id="address0" name="address0" required>
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey ">Số căn cước công dân *</h5>
                    <input class="w3-input" type="text" id="citizenIdentification0" name="citizenIdentification0" required>
                </div>
                <div class="w3-container w3-half">
                    <h5 class="w3-text-grey ">Phương thức thanh toán</h5>
                    <input class="" type="radio" name="payment_method" value="vnpay" checked required> VNPay <img style="width: 50px;height: 50px;" src="/w3images/vnpay.png" alt="VNPay">
                </div>
            </div>
            <div class="w3-container ">
                <input id="btnPay0" class="w3-card w3-button w3-red w3-round w3-right w3-margin-top" style="width: 200px;" type="button" onclick="doPost()" value="Thanh toán">
            </div>
            <!--                </form>-->
        </div>

        <!-- End Right Column -->
        <!-- Left Column -->
        <div class="w3-third">
            <h3 class="w3-text-black w3-padding-16">Chi tiết chuyến bay</h3>
            <th:block th:each="fs : ${session.flightSelected}">
                <th:block th:each = "plane : ${fs.getFlight().getPlanes()}">
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <p class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue "><span th:text="${fs.getFlight().getDepartingFrom()}"></span>     <i class="fa fa-solid fa-plane"></i>     <span th:text="${fs.getFlight().getArrivingAt()}"></span> <span class="w3-right">VND</span><span th:text="${#numbers.formatCurrency(fs.getFlight().getFeeFlight() + plane.getAirlineCompany().getAirline_fee())}" class="w3-right"></span> </p>
                        <p class="w3-panel w3-pale-khaki w3-leftbar w3-rightbar w3-border-khaki ">Khởi hành ngày <span th:text="${fs.getFlight().getDepartureTime()}"></span>, <span th:text="${fs.getFlight().getDateFlight()}"></span></p>
                        <h6 class="w3-panel w3-leftbar w3-rightbar "><span th:text="${fs.getFlight().getDepartingFrom()}"></span>     <i class="fa fa-solid fa-plane"></i>     <span th:text="${fs.getFlight().getArrivingAt()}"></span></h6>
                        <p>Thời gian di chuyển: <span th:text="${fs.getFlight().getTravelTime()}"></span>/ Bay thẳng</p>
                        <p>Máy bay <span class="w3-text-blue" th:text="${plane.getPlane_name()}"></span></p>
                        <p>Vận hành bởi <span class="w3-text-blue" th:text="${plane.getAirlineCompany().getAirline_name()}"></span></p>
                        <h6 class="w3-panel w3-pale-khaki w3-leftbar w3-rightbar w3-border-khaki">Người lớn x <span class="w3-text-blue" th:text="${session.adults}"></span> <span class="w3-right">VND</span> <span class="w3-right" th:text="${#numbers.formatCurrency((fs.getFlight().getFeeFlight()+plane.getAirlineCompany().getAirline_fee())*session.adults)}"></span></h6>
                        <div th:if="${session.child}">
                            <h6 class="w3-panel w3-pale-khaki w3-leftbar w3-rightbar w3-border-khaki">Trẻ em x <span class="w3-text-blue" th:text="${session.child}"></span> <span class="w3-right">VND</span><span class="w3-right" th:text="${#numbers.formatCurrency((fs.getFlight().getFeeFlight()+plane.getAirlineCompany().getAirline_fee())*session.child*0.8)}"></span></h6>
                        </div>
                        <h6 class="w3-panel w3-pale-khaki w3-leftbar w3-rightbar w3-border-khaki">Hạng ghế: <span th:text="${session.seatClass.getCategoryName()}"></span> <span class="w3-right">VND</span> <span class="w3-right" th:text="${#numbers.formatCurrency(session.seatClass.getFeeCategory())}"></span></h6>
                        <p class="w3-panel w3-pale-khaki w3-leftbar w3-rightbar w3-border-khaki w3-white w3-card">Hành lý đi kèm - <span th:text="${fs.getCustomer().getFullname()}"></span><span class="w3-right"><span th:text="${fs.getLuggage().getCost()}"></span>VND</span><span class="w3-right">(<span th:text="${fs.getLuggage().getWeight()}"></span>kg)</span></p>
                        <div th:if="${fs.getSeat()}">
                            <h6 class="w3-panel w3-pale-khaki w3-leftbar w3-rightbar w3-border-khaki">Ghế ngồi x <span class="w3-text-blue" th:text="${fs.getSeat().getPosition()}"></span></h6>
                        </div>
                    </div>
                </th:block>
            </th:block>
            <h3 class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">Tổng tiền  <span class="w3-right">VND</span><span class="w3-right" th:text="${#numbers.formatCurrency(session.totalBill)}"></span></h3>
            <!-- End Left Column -->
        </div>
    </div>

    <!-- End Page Container -->
</div>
<footer th:replace="~{client/fragments::footer}" />
</body>
</html>