<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{client/fragments::html_head}"/>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div th:replace="~{client/fragments::navigationBar}"/>

<!-- Page Container -->
<div th:if="${success}">
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '[[${success}]]',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
</div>
<div th:if="${error}">
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '[[${error}]]',
            footer: ''
        })
    </script>
</div>
<div  class="w3-content w3-margin-top" style="max-width:1400px;">
    <!-- The Grid -->
    <div class="w3-row-padding w3-card w3-display-container w3-center w3-white">
        <img class="w3-margin-top" style="width: 300px;" src="/w3images/thanks.png" alt="thank you">
        <p><i>(Cảm ơn vì đã tưởng chúng tôi !)</i></p>
        <div class="w3-container w3-white w3-margin-bottom">
            <p class="w3-margin-top w3-text-green" style="font-size: 20px;">Mã đặt chỗ : <span class="w3-text-blue" th:text="${order.getQrCode()}"></span> </p>
        </div>
        <div>
            <p class="w3-text-green" style="font-size: 20px;">Tổng tiền: <span class="w3-text-blue" th:text="${#numbers.formatCurrency(order.getTotal_cost())}"></span> </p>
        </div>
        <div>
            <a class="w3-left" th:href="@{/}"><i class="fa fa-solid fa-arrow-left-to-line"></i>Trở về trang chủ</a>
        </div>
    </div>
</div>
<footer th:replace="~{client/fragments::footer}" />
</body>
</html>