<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{client/fragments::html_head}">
    <script th:src="@{../../static/w3images/script.js}"></script>
<body>
    <!-- Navigation Bar -->
    <div th:replace="~{client/fragments::navigationBar}"/>
    <!-- Header -->
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
        <div th:if="${messageSuccess}">
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '[[${messageSuccess}]]',
                    showConfirmButton: false,
                    timer: 1500
                })
            </script>
        </div>
        <div th:if="${messageError}">
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: '[[${messageError}]]',
                    showConfirmButton: false,
                    timer: 1500
                })
            </script>
        </div>
        <img class="w3-image" th:src="@{/w3images/london2.jpg}" alt="London" width="1500" height="700">
        <div class="w3-container w3-display-middle w3-white w3-card-4" style="width: 400px;padding: 0;">
            <div class="w3-display-top-middle w3-text-red" >
                <h1 style="text-align: center;">GOGO</h1>
            </div>
            <div th:if="${message}" class="w3-panel w3-pale-red w3-text-red">[[${message}]]</div>
            <form th:action="@{/account/signup/save}" id="form_signup" th:object="${user}" th:method="post" class="w3-container">
                <input name="userid" th:field="*{userID}" type="hidden">
                <input id="role" name="role" th:field="*{role}" th:type="hidden" th:value="1" class="w3-input w3-border" >
                <p>
                    <label>Tên tài khoản</label>
                    <input th:field="*{username}" name="username" class="w3-input w3-border" type="text" required>
                </p>
                <p>
                    <lable>Mật khẩu</lable>
                    <input id="password" name="password" th:field="*{password}" class="w3-input w3-border" type="password" required>
                </p>
                <p>
                    <lable>Nhập lại mật khẩu</lable>
                    <input name="refill_password" class="w3-input w3-border" type="password" required>
                </p>
                <p>
                    <lable>Email</lable>
                <input name="email" class="w3-input w3-border" type="email" required>
                </p>
                <p style="text-align: center;"><input class="w3-btn w3-red" style="width: 100px;" type="submit" value="Sign up"></p>
            </form>
            <script>
                $(document).ready(function (){
                    $.validator.addMethod("passwordRule",function (value,element,args) {
                        return /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[A-Za-z0-9])(?=.{8,})/.test(value);
                    },'Mật khẩu phải chứa ít nhất 1 kí tự thường, 1 kí tự in hoa, 1 kí tự số và có độ dài ít nhất 8 kí tự.');
                    $.validator.addMethod("emailRule",function (value,element,args) {
                        return /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/.test(value);
                    },'Email không đúng định dạng!');
                    $("#form_signup").validate({
                        rules:{
                            username:{
                                minlength:5
                            },
                            refill_password:{
                                equalTo:'#password'
                            },
                            password:{
                                minlength: 8,
                                passwordRule:true
                            },
                            email:{
                                emailRule:true
                            }
                        },
                        messages:{
                            username:{
                                required:"Hãy nhập tên tài khoản của bạn!",
                                minlength:"Tên tài khoản có độ dài tối thiểu 5 kí tự"
                            },
                            password:{
                                required:"Hãy nhập mật khẩu của bạn!",
                                minlength:"Mật khẩu có độ dài ít nhất 8 kí tự"
                            },
                            refill_password:{
                                required:"Hãy nhập lại mật khẩu của bạn!",
                                equalTo: "Mật khẩu nhập lại không đúng!"
                            },
                            email:{
                                required:"Hãy nhập địa chỉ email của bạn!"
                            }
                        }
                    });
                });
            </script>
        </div>
    </header>
    <footer th:replace="~{client/fragments::footer}" />
</body>
</html>