<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin/fragmentsAdmin :: admin_head_pageList}"/>
<body>
<style>
  .update {
    background-color: #1c98ea;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    border: 1px solid #000;
  }
  .form-delete {
    width: 50%;
  }
  .delete:hover {
    background-color: #8c0505;
  }
  .delete {
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: 1px solid #000;
    border-left: none;
  }

  .update:hover {
    background-color: #0e4870;
  }
</style>

<!-- Top container -->
<header th:replace="~{admin/fragmentsAdmin :: admin_header}"/>

<!-- Sidebar/menu -->
<div th:replace="~{admin/fragmentsAdmin :: admin_menu}"></div>

<!-- Overlay effect when opening sidebar on small screens -->
<div th:replace="~{admin/fragmentsAdmin :: admin_overlay}"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;background-color: #f1f1f1">

  <h1 style="font-weight: bold; font-size: 25px; padding: 25px 15px">Search list</h1>
  <form style="display: inline-block" th:method="GET" th:action="@{/admin/flight/search}">
    <input style="min-width: 250px" type="text" placeholder="Tìm kiếm theo địa điểm đi hoặc đến" name="search" th:value="${query}">
    <input type="submit" value="submit">
  </form>

  <table class="table">
    <thead>
    <tr>
      <th><a href="/admin/flightList?sortBy=flightID">ID chuyến bay</a></th>
      <th><a href="/admin/flightList?sortBy=departingForm">Điểm khởi hành</a></th>
      <th><a href="/admin/flightList?sortBy=arrivingAt">Điểm đến</a></th>
      <th><a href="/admin/flightList?sortBy=flightTime">Giờ cất cánh</a></th>
      <th><a href="/admin/flightList?sortBy=departureTime">Giờ hạ cánh</a></th>
      <th><a href="/admin/flightList?sortBy=feeFlight">Phí chuyến bay</a></th>
      <th>Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="flight : ${flights}">
      <tr>
        <td th:utext="${flight.getFlightID()}">..</td>
        <td th:utext="${flight.getDepartingFrom()}">..</td>
        <td th:utext="${flight.getArrivingAt()}">..</td>
        <td th:utext="${flight.getFlightTime()}">..</td>
        <td th:utext="${flight.getDepartureTime()}">..</td>
        <td th:utext="${flight.getFormatFeeFlight(flight.getFeeFlight())}">..</td>

        <td style="display: flex">
          <button class="update">
            <a style="text-decoration: none; color: white;" th:href="@{/admin/updateFlight/{id}(id=${flight.getFlightID()})}">Sửa</a>
          </button>

          <form class="form-delete" method="POST" th:action="@{/admin/deleteFlight/{id}(id=${flight.getFlightID()})}">
            <button  class="delete" type="submit" onclick="if (!(confirm('Bạn có chắc chắn muốn xóa?'))) return false">Xóa</button>
          </form>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>

  <a href="/admin/addFlight">Thêm mới chuyến bay</a>
  <br/>
  <a href="/admin/flightList">Danh sách chuyến bay</a>
</div>
</body>
</html>